
.header {
    height: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(5, 109, 5);
}
.header h1 {
    font-weight: bolder;
    margin: 0;
}
/* typing animation */
.h3{
    width: 20ch;
    text-wrap: nowrap;
    overflow: hidden;
    font-weight: bolder;
    margin: 0;
    animation: typing 2s steps(20) infinite alternate-reverse;
}
@keyframes typing{
    from{
        width: 0ch;
    }
}

.header button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;  /* Changed to green */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.7s;
}

.header button:hover {
    background-color: #45a049;  /* Darker green on hover */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
}

.container.left {
    flex-direction: row;
}

.container.right {
    flex-direction: row-reverse; 
}

.iphone {
    width: 500px;
    height: 500px;
    display: block;
}

.text-box {
    max-width: 300px;
    text-align: left;
}

.infobox {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column !important;
        text-align: center;
    }

    .text-box {
        text-align: center;
    }

    .iphone {
        width: 200px;
        height: 200px;
    }
}
